.DS_Store
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/model_mbv3_iou_mix_2C049.pth
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/MyApplication/app/src/main/assets/doc_scanner_mbv3.pt
