.DS_Store
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/model_mbv3_iou_mix_2C049.pth
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/MyApplication/app/src/main/assets/doc_scanner_mbv3.pt
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/model_r50_iou_mix_2C020.pth
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/doc_scanner_r50.pt
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/doc_scanner_mbv3_quantized.pt
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/MyApplication/app/src/main/assets/doc_scanner_mbv3_quantized.pt
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/MyApplication/app/src/main/assets/doc_scanner_r50.pt
/Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/document_dataset_resized
Document-Scanner-Custom-Semantic-Segmentation-using-PyTorch-DeepLabV3/document_dataset_resized.zip
